<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/productos/crear" enctype="multipart/form-data" method="POST" >
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" class="form-input <%= locals.errors && errors.name ? 'is-invalid' : null  %>" id="name" name="name" value="<%= locals.old && old.name ? old.name : null %>" placeholder="Ej: Zapatillas Reebok" >
						<span class="text-danger"><%= locals.errors && errors.name ? errors.name.msg : null %></span>
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" class="form-input <%= locals.errors && errors.price ? 'is-invalid' : null  %>" id="price" name="price" value="<%= locals.old && old.price ? old.price : null %>" placeholder="Ej: 5600" >
						<span class="text-danger"><%= locals.errors && errors.price ? errors.price.msg : null %></span>
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text" class="form-input <%= locals.errors && errors.discount ? 'is-invalid' : null  %>" id="discount" name="discount" value="<%= locals.old && old.discount ? old.discount : null %>" placeholder="Ej: 50" >
						<span class="text-danger"><%= locals.errors && errors.discount ? errors.discount.msg : null %></span>
					</div>
					<div class="col-12 col-md-6">
						<label for="category" class="form-label">Categoría: </label>
						<select class="form-input <%= locals.errors && errors.category ? 'is-invalid' : null  %>" aria-label="Default select example" id="category" name="category">
							<option value="" selected hidden>Seleccione...</option>
							<% categorias.forEach(category => { %>
								<option value="<%= category %>" <%= locals.old && old.category && category === old.category ? 'selected' : null %>><%= category %></option>
							<% }) %>
				

						  </select>
						  <span class="text-danger"><%= locals.errors && errors.category ? errors.category.msg : null %></span>

					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Imagen:</label>
						<input type="file" id="image" name="image" class="form-input" multiple>
					</div>
					<div class="col-12">
						<label for="description" class="form-label">Descripción:</label>
						<textarea class="form-input <%= locals.errors && errors.description ? 'is-invalid' : null  %>" id="description" name="description" rows="3" style="resize: none;"><%= locals.old && old.description ? old.description : null %></textarea>
                            <span class="text-danger"><%= locals.errors && errors.description ? errors.description.msg : null %></span>
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Crear producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>